version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__PulseWord=${DATABASE_URL}
      - JwtSettings__Key=CFOvVW3sGpMwmb6pseH94WQD+sCjJJK+3gkBy7oZolE=
      - JwtSettings__Issuer=pulseword
      - JwtSettings__Audience=pulseword-users
    restart: unless-stopped
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
